# Server
PORT=8000
HOST=0.0.0.0

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=talent_mind

# Gemini API
GEMINI_API_KEY=

# API Key
API_KEY=change-me

# Converter Service
CONVERTER_API_KEY=
CONVERTER_URL=http://ffmpeg-converter:80/api/v1/convert

# CORS
CORS_ORIGINS=["*"]

# Logging
LOG_LEVEL=INFO
